# Virtual environments
venv/
env/
.venv/

# Python cache files
__pycache__/
*.pyc

# Node modules
node_modules/

# Build
dist/
build/

# Environment variables
.env
.env.local
env.json
.env.json

# JSON configs (optional)
config.json
secrets.json
firebase.json

# VSCode settings (optional)
.vscode/

backend/geoip/GeoLite2-City.mmdb
